<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="static/favicon.png">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css">

    <!-- Nomes per taules -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

    <title>FASTQ_API</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- JAVASCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</head>

<body>
    <!-- Barra de Navegació -->
    <nav class="navbar shadow-sm navbar-expand-sm fixed-top mb-3" rel="preload"
        style="background-image: linear-gradient(15deg, #357ca5 0%, #60cec1 100%);">
        <a class="navbar-brand" style="color:white;">EQUIP DE MESURA</a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="navbar btn mr-1" style="color:white;padding:5px;">
                    <i class="fas fa-user fa"></i>&nbsp;{{session['user']}}
                </a>
            </li>
            <li class="nav-item">
                <a class="navbar btn mr-3" style="color:white;padding:5px;" onclick="mensaje()"><i
                        class="fas fa-door-closed fa-sm"></i>&nbsp;Tanca sessió</a>
            </li>
            <li class="nav-item">
                <a class="navbar btn mr-3" style="color:white;padding:5px;" href="apps"><i
                        class="fas fa-home"></i>Home</a>
            </li>
        </ul>
    </nav>
    {% block content %}{% endblock %}

    <footer id="sticky-footer" class="flex-shrink-0 py-4"
        style="background-image: linear-gradient(15deg, #357ca5 0%, #60cec1 100%); bottom: 0; position: fixed; width: 100%;">
        <div style="margin-left:40px"> Institut Català de la Salut</div>
        <div style="margin-left:40px;color:white;"><b>Laboratori Clínic Territorial de Girona</b> </div>
    </footer>

</html>

<script>
    function mensaje(texto) {
        var clicat = confirm("Estàs segur de tancar la sessió? ");
        if (clicat == true) {
            window.location = "/logout"
        }
    }
</script>