{% extends "base.html" %}

{% block content %}

<head>
  <style>
    /* Estilos para el popup */
    .popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      text-align: center;
    }

    .popup-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    /* Estilo para el botón de cerrar */
    .popup-close {
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
      color: red;
      /* Cambiamos el color a rojo */
      font-size: 30px;
      margin-right: 10px;
    }

    /* Estilo para el campo de búsqueda */
    .image-search {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
    }

    /* Estilos para la imagen cargada */
    #uploadedImage {
      max-width: 100%;
      max-height: 300px;
      /* Limitamos la altura para que quepa en el popup */
      margin-top: 10px;
      /* Añadimos un espacio entre el campo de búsqueda y la imagen */
    }

    /* Estilo para el mensaje "Imagen cargada" */
    #imageUploadedText {
      display: none;
      color: green;
      /* Cambiamos el color a verde */
      margin-top: 10px;
      /* Añadimos un espacio entre la imagen y el mensaje */
    }
  </style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

</head>

<body>
  <!-- Flash -->
  <div class="d-flex justify-content-center">
    <div class="row mt-1">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category,message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show ml-3" role="alert">
        <span>{{ message }}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <br>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>

  <form action="/generar_pdf" method="POST" id="form_all">

    <div class="flex" style="width:92%;margin:0 auto; margin-bottom: 20px;">

      <div class="row">

        <!-- Titol -->
        <div class="col-12">
          <h1 class="card-title" style="margin-top:30px;color:#636261; text-align: center;">
            <div style="display:inline-block;"><b>FITXA TÈCNICA EQUIP DE MESURA</b></div>
            <div style="display:inline-block; color:rgb(252, 198, 100)">CODI {{dades.codi_aux}}</div>
            <input type="hidden" name="codi_aux" value="{{dades.codi_aux}}">
            <div style="display:inline-block;"><input type="submit" value="PDF"
                style="margin-bottom: 5px; margin-left: 50px;" class="btn btn-success">
            </div>
          </h1>
        </div>

        <hr>

        <!-- Descripció -->
        <div class="col-12">
          <div class="card card-body border-1 m-1" style="background-color:#EDEDED; text-align: center;">
            <div class="col-12">
              <p style="margin-bottom: 5px; font-weight: bold;">Descripció</p>
              <input type="text" style="width: 400px;" name="descripcio" value="{{dades.descripcio}}">
            </div>
          </div>
        </div>

        <br>

        <!-- Caracteristiques generals -->
        <div class="col-12">
          <div class="card card-body border-1 m-1" style="background-color:#EDEDED; text-align: center;">
            <div class="col-12">
              <p style="margin-bottom: 10px; font-weight: bold;">Caracteristiques generals</p>
              <table class="table table-bordered">
                <thead style="text-align: center; font-size: 12;">
                  <tr style="background-color: rgb(174, 204, 231);">
                    <th>FABRICANT</th>
                    <th>REFERÈNCIA FABRICANT</th>
                    <th>SERIAL NUMBER</th>
                    <th style="width: 10%;">MODEL</th>
                    <th>PROVEÏDOR</th>
                    <th>Servei Tècnic</th>
                    <th>Telèfon</th>
                    <th style="width: 22%;"><i class="fa-solid fa-image"></i></th>
                  </tr>
                </thead>
                <tbody style="font-size: 12;">
                  <tr>
                    <td><input type="text" name="fabricant" value="{{dades.fabricant}}"></td>
                    <td><input type="text" name="ref_fabricant" value="{{dades.ref_fabricant}}"></td>
                    <td><input type="text" name="serial_number" value="{{dades.serial_number}}"></td>
                    <td><input type="text" name="model" value="{{dades.model}}"></td>
                    <td><input type="text" name="emp_subministradora" value="{{dades.emp_subministradora}}"></td>
                    <td><input type="text" name="servei_tecnic" value="NA"></td>
                    <td><input type="text" name="telefon" value="NA"></td>
                    <td> <input type="file" id="imagenInput" name="img_1" accept="image/*">
                      <img width="300px" height="200px" style="margin-top: 15px; margin-left: 25px;" id="imagenMostrada"
                        src="">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Informació compra -->
        <div class="col-12">
          <div class="card card-body border-1 m-1" style="background-color:#EDEDED; text-align: center;">
            <div class="col-12">
              <p style="margin-bottom: 10px; font-weight: bold;">Informació compra</p>
              <table class="table table-bordered">
                <thead style="text-align: center; font-size: 12;">
                  <tr style="background-color: rgb(174, 204, 231);">
                    <th>DATA ALTA</th>
                    <th>Condicions de compra</th>
                    <th>Data Baixa</th>
                    <th>SITUACIÓ CONTRACTUAL</th>
                    <th>PREU</th>
                    <th>TIPUS D'EQUIP</th>
                    <th style="width: 22%;"><i class="fa-solid fa-image"></i></th>
                  </tr>
                </thead>
                <tbody style="font-size: 12;">
                  <tr>
                    <td><input type="text" name="data_alta" value="{{dades.data_alta}}"></td>
                    <td>
                      <select class="form" name="condicions_equip" id="select_condicions">
                        <!-- <option value="{{dades.condicions_equip}}">{{dades.condicions_equip}}</option> -->
                        <option value="Nou">Nou</option>
                        <option value="Utilizat">Utilizat</option>
                        <option value="Reacondicionat">Reacondicionat</option>
                      </select>
                    </td>
                    <td><input type="text" name="data_baixa" value="{{dades.data_baixa}}"></td>
                    <td><input type="text" name="situacio_contractual" value="{{dades.situacio_contractual}}"></td>
                    <td><input type="text" name="preu" value="{{dades.preu}}"></td>
                    <td>
                      <select class="form" name="tipus" id="select_tipus">
                        <option value="ANALITZADOR">ANALITZADOR</option>
                        <option value="AUX">AUX</option>
                        <option value="INFORMATICA">INFORMATICA</option>
                        <option value="OFICINA">OFICINA</option>
                        <option value="ALTRES">ALTRES</option>
                        <option value="FRED">FRED</option>
                      </select>
                    </td>
                    <td> <input type="file" id="imagenInput2" name="img_2" accept="image/*">
                      <img width="300px" height="200px" style="margin-top: 15px; margin-left: 25px;"
                        id="imagenMostrada2" src="">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Caracteristiques fisiques -->
        <div class="col-12">
          <div class="card card-body border-1 m-1" style="background-color:#EDEDED; text-align: center;">
            <div class="col-12">
              <p style="margin-bottom: 10px; font-weight: bold;">Característiques físiques</p>
              <table class="table table-bordered">
                <thead style="text-align: center; font-size: 12;">
                  <tr style="background-color: rgb(174, 204, 231);">
                    <th>Amplada (cm)</th>
                    <th>Alçada (cm)</th>
                    <th>Profunditat (cm)</th>
                    <th>Pes (Kg)</th>
                    <th>Volum (L)</th>
                    <th>Condicions ambientals</th>
                    <th>Humitat</th>
                    <th>Presa d'aigua desionitzada</th>
                    <th style="width: 22%;"><i class="fa-solid fa-image"></i></th>
                  </tr>
                </thead>
                <tbody style="font-size: 12;">
                  <tr>
                    <td><input type="text" name="amplada" value="{{dades.amplada}}"></td>
                    <td><input type="text" name="alçada" value="{{dades.alçada}}"></td>
                    <td><input type="text" name="profunditat" value="{{dades.profunditat}}"></td>
                    <td><input type="text" name="pes" style="width: 60px;" value="{{dades.pes}}"></td>
                    <td><input type="text" name="volum" style="width: 60px;" value="{{dades.volum}}"></td>
                    <td><input type="text" name="condicions_ambientals" value="{{dades.condicions_ambientals}}"></td>
                    <td><input type="text" name="humitat" value="{{dades.humitat}}"></td>
                    <td><input type="text" name="presa_aigua" value="{{dades.presa_aigua}}"></td>
                    <td> <input type="file" id="imagenInput3" name="img_3" accept="image/*">
                      <img width="300px" height="200px" style="margin-top: 15px; margin-left: 25px;"
                        id="imagenMostrada3" src="">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Connexions periferics -->
        <div class="col-12">
          <div class="card card-body border-1 m-1" style="background-color:#EDEDED; text-align: center;">
            <div class="col-12">
              <p style="margin-bottom: 10px; font-weight: bold;">Connexions periferics</p>

              <table class="table table-bordered">
                <thead style="text-align: center; font-size: 12;">

                  <tr>
                    <th>SI/NO</th>
                    <th>MARCA</th>
                    <th>MODEL</th>
                    <th>Número de serie</th>
                    <th>Código de inventario</th>
                  </tr>
                  <tr>
                    <td>Pantalla</td>
                    <td><input type="text" name="marca_pantalla" value="{{dades.marca_pantalla}}"></td>
                    <td><input type="text" name="model_pantalla" value="{{dades.model_pantalla}}"></td>
                    <td><input type="text" name="num_serie_pantalla" value="{{dades.num_serie_pantalla}}"></td>
                    <td><input type="text" name="codi_pantalla" value="{{dades.codi_pantalla}}"></td>
                  </tr>
                  <tr>
                    <td>SAI</td>
                    <td><input type="text" name="marca_sai" value="{{dades.marca_sai}}"></td>
                    <td><input type="text" name="model_sai" value="{{dades.model_sai}}"></td>
                    <td><input type="text" name="num_serie_sai" value="{{dades.num_serie_sai}}"></td>
                    <td><input type="text" name="codi_sai" value="{{dades.codi_sai}}"></td>
                  </tr>
                  <tr>
                    <td>Lector código de barras</td>
                    <td><input type="text" name="marca_lector" value="{{dades.marca_lector}}"></td>
                    <td><input type="text" name="model_lector" value="{{dades.model_lector}}"></td>
                    <td><input type="text" name="num_serie_lector" value="{{dades.num_serie_lector}}"></td>
                    <td><input type="text" name="codi_lector" value="{{dades.codi_lector}}"></td>
                  </tr>
                  <tr>
                    <td>Impresora</td>
                    <td><input type="text" name="marca_impresora" value="{{dades.marca_impresora}}"></td>
                    <td><input type="text" name="model_impresora" value="{{dades.model_impresora}}"></td>
                    <td><input type="text" name="num_serie_impresora" value="{{dades.num_serie_impresora}}"></td>
                    <td><input type="text" name="codi_impresora" value="{{dades.codi_impresora}}"></td>
                  </tr>
                  <tr>
                    <td>Tensión: 220V/50Hz <br> Potencia: 220W</td>
                    <td><input type="text" name="marca_tensio" value="{{dades.marca_tensio}}"></td>
                    <td><input type="text" name="model_tensio" value="{{dades.model_tensio}}"></td>
                    <td><input type="text" name="num_serie_tensio" value="{{dades.num_serie_tensio}}"></td>
                    <td><input type="text" name="codi_tensio" value="{{dades.codi_tensio}}"></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Software</td>
                    <td><input type="text" name="soft_1" value="{{dades.soft_1}}"></td>
                    <td>Versió</td>
                    <td colspan="2"><input name="versio_1" type="text" value="{{dades.versio_1}}"></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Software</td>
                    <td><input type="text" name="soft_2" value="{{dades.soft_2}}"></td>
                    <td>Versió</td>
                    <td colspan="2"><input name="versio_2" type="text" value="{{dades.versio_2}}"></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Software</td>
                    <td><input type="text" name="soft_3" value="{{dades.soft_3}}"></td>
                    <td>Versió</td>
                    <td colspan="2"><input name="versio_3" type="text" value="{{dades.versio_3}}"></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Software</td>
                    <td><input type="text" name="soft_4" value="{{dades.soft_4}}"></td>
                    <td>Versió</td>
                    <td colspan="2"><input name="versio_4" type="text" value="{{dades.versio_4}}"></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Software</td>
                    <td><input type="text" name="soft_5" value="{{dades.soft_5}}"></td>
                    <td>Versió</td>
                    <td colspan="2"><input name="versio_5" type="text" value="{{dades.versio_5}}"></td>
                    <td></td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>

        <!-- Personal responsable -->
        <div class="col-12">
          <div class="card card-body border-1 m-1" style="background-color:#EDEDED; text-align: center;">
            <div class="col-12">
              <p style="margin-bottom: 10px; font-weight: bold;">Personal responsable</p>
              <table class="table table-bordered" id="miTabla">
                <thead style="text-align: center; font-size: 12;">
                  <tr>
                    <th style="width: 50%;">PERSONAL TECNIC</th>
                    <th style="width: 50%;">PERSONAL FACULTATIU</th>
                  </tr>
                </thead>
                <tbody style="font-size: 12; text-align: center;">
                  <tr>
                    <td>PERSONAL TECNIC UDMMP</td>
                    <td>Facultatius responsables de l'àrea UDMMP</td>
                  </tr>
                  <tr>
                    <td><input type="text" name="personal_tecnic_udmmp" style="width: 300px;"
                        value="{{dades.personal_tecnic_udmmp}}"></td>
                    <td><input type="text" name="facultatius_udmmp" style="width: 300px;"
                        value="{{dades.facultatius_udmmp}}"></td>
                  </tr>
                  <tr>
                    <td><input type="text" name="personal_tecnic_udmmp_2" style="width: 300px;"
                        value="{{dades.personal_tecnic_udmmp_2}}"></td>
                    <td><input type="text" name="facultatius_udmmp_2" style="width: 300px;"
                        value="{{dades.facultatius_udmmp_2}}"></td>
                  </tr>
                  <tr>
                    <td><input type="text" name="personal_tecnic_udmmp_3" style="width: 300px;"
                        value="{{dades.personal_tecnic_udmmp_3}}"></td>
                    <td><input type="text" name="facultatius_udmmp_3" style="width: 300px;"
                        value="{{dades.facultatius_udmmp_3}}"></td>
                  </tr>
                  <tr>
                    <td><input type="text" name="personal_tecnic_udmmp_4" style="width: 300px;"
                        value="{{dades.personal_tecnic_udmmp_4}}"></td>
                    <td><input type="text" name="facultatius_udmmp_4" style="width: 300px;"
                        value="{{dades.facultatius_udmmp_4}}"></td>
                  </tr>
                  <tr>
                    <td><input type="text" name="personal_tecnic_udmmp_5" style="width: 300px;"
                        value="{{dades.personal_tecnic_udmmp_5}}"></td>
                    <td><input type="text" name="facultatius_udmmp_5" style="width: 300px;"
                        value="{{dades.facultatius_udmmp_5}}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Fungible -->
        <div class="col-12">
          <div class="card card-body border-1 m-1" style="background-color:#EDEDED; text-align: center;">
            <div class="col-12">
              <p style="margin-bottom: 10px; font-weight: bold;">Fungible</p>
              <table class="table table-bordered" id="miTabla2">
                <thead style="text-align: center; font-size: 12;">
                  <tr>
                    <th style="width: 50%;">Referencia</th>
                    <th style="width: 50%;">Descripcio</th>
                  </tr>
                </thead>
                <tbody style="font-size: 12; text-align: center;">
                  <tr>
                    <td><input type="text" name="ref_fung1" style="width: 300px;" value="{{dades.ref_fung1}}"></td>
                    <td><input type="text" name="desc_fung1" style="width: 300px;" value="{{dades.desc_fung1}}"></td>
                  </tr>
                  <tr>
                    <td><input type="text" name="ref_fung2" style="width: 300px;" value="{{dades.ref_fung2}}"></td>
                    <td><input type="text" name="desc_fung2" style="width: 300px;" value="{{dades.desc_fung2}}"></td>
                  </tr>
                  <tr>
                    <td><input type="text" name="ref_fung3" style="width: 300px;" value="{{dades.ref_fung3}}"></td>
                    <td><input type="text" name="desc_fung3" style="width: 300px;" value="{{dades.desc_fung3}}"></td>
                  </tr>
                  <tr>
                    <td><input type="text" name="ref_fung4" style="width: 300px;" value="{{dades.ref_fung4}}"></td>
                    <td><input type="text" name="desc_fung4" style="width: 300px;" value="{{dades.desc_fung4}}"></td>
                  </tr>
                  <tr>
                    <td><input type="text" name="ref_fung5" style="width: 300px;" value="{{dades.ref_fung5}}"></td>
                    <td><input type="text" name="desc_fung5" style="width: 300px;" value="{{dades.desc_fung5}}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Pla de manteniment -->
        <div class="col-12">
          <div class="card card-body border-1 m-1" style="background-color:#EDEDED; text-align: center;">
            <div class="col-12">
              <p style="margin-bottom: 10px; font-weight: bold;">Pla de manteniment</p>

              <table class="table table-bordered">
                <thead style="text-align: center; font-size: 12;">
                  <tr>
                    <th style="width: 100%; background-color: rgb(174, 204, 231);">DOCUMENTS ASSAIGS D'ACCEPTACIÓ</th>
                  </tr>
                </thead>
                <tbody style="font-size: 12; text-align: center;">
                  <tr>
                    <td><input type="text" style="width: 300px;" name="doc1" value="{{dades.doc1}}"></td>
                  </tr>
                  <tr>
                    <td><input type="text" style="width: 300px;" name="doc2" value="{{dades.doc2}}"></td>
                  </tr>
                </tbody>
              </table>

              <br>

              <table class="table table-bordered" style="width: 40%; margin: 0 auto;">
                <thead style="text-align: center; font-size: 12;">
                  <tr>
                    <th style="width: 80%;"></th>
                    <th style="width: 20%;">SI / NO</th>
                  </tr>
                </thead>
                <tbody style="font-size: 12;">
                  <tr>
                    <td>Contracte de Manteniment</td>
                    <td><input type="text" name="cont_manteniment" style="font-weight: bold;"
                        value="{{dades.cont_manteniment}}"></td>
                  </tr>
                  <tr>
                    <td>Manteniment Preventiu Extern</td>
                    <td><input type="text" name="manteniment_ext" style="font-weight: bold;"
                        value="{{dades.manteniment_ext}}"></td>
                  </tr>
                  <tr>
                    <td>Manteniment preventiu Intern</td>
                    <td><input type="text" name="manteniment_int" style="font-weight: bold;"
                        value="{{dades.manteniment_int}}"></td>
                  </tr>
                  <tr>
                    <td>Verificació Interna</td>
                    <td><input type="text" name="verificacio_int" style="font-weight: bold;"
                        value="{{dades.verificacio_int}}"></td>
                  </tr>
                  <tr>
                    <td>Verificació Externa</td>
                    <td><input type="text" name="verificacio_ext" style="font-weight: bold;"
                        value="{{dades.verificacio_ext}}"></td>
                  </tr>
                  <tr>
                    <td>Calibració Externa</td>
                    <td><input type="text" name="cal_ext" style="font-weight: bold;" value="{{dades.cal_ext}}"></td>
                  </tr>
                  <tr>
                    <td>Calibració interna</td>
                    <td><input type="text" name="cal_int" style="font-weight: bold;" value="{{dades.cal_int}}"></td>
                  </tr>
                </tbody>
              </table>

              <br>

              <p style="margin-bottom: 10px; font-weight: bold; text-align: left; font-size: 15px;">DESCRIPCIÓ CONTRACTE
                DE MANTENIMENT:
              </p>

              <p style="margin-bottom: 10px; text-align: left; font-size: 15px;">Nom del contracte:
                <input type="text" style="width: 400px;" name="nom_contracte" value="{{dades.nom_contracte}}">
              </p>

              <table class="table table-bordered">
                <thead style="text-align: center; font-size: 12;">
                  <tr>
                    <th>Empresa responsable</th>
                    <th>Període de cobertura </th>
                    <th>Dades de contacte (Mail/telèfon)</th>
                  </tr>
                </thead>
                <tbody style="font-size: 12; text-align: center;">
                  <tr>
                    <td><input type="text" style="width: 300px;" name="emp_respon1" value="{{dades.emp_respon1}}"></td>
                    <td><input type="text" style="width: 300px;" name="periode_cober1" value="{{dades.periode_cober1}}">
                    </td>
                    <td><input type="text" style="width: 300px;" name="dades_cont1" value="{{dades.dades_cont1}}"></td>
                  </tr>
                  <tr>
                    <td><input type="text" style="width: 300px;" name="emp_respon2" value="{{dades.emp_respon2}}"></td>
                    <td><input type="text" style="width: 300px;" name="periode_cober2" value="{{dades.periode_cober2}}">
                    </td>
                    <td><input type="text" style="width: 300px;" name="dades_cont2" value="{{dades.dades_cont2}}"></td>
                  </tr>
                </tbody>
              </table>

              <br>

              <p style="margin-bottom: 10px; font-weight: bold; text-align: left; font-size: 15px;">DESCRIPCIÓ
                MANTENIMENT
                PREVENTIU EXTERN:
              </p>

              <table class="table table-bordered">
                <thead style="text-align: center; font-size: 12;">
                  <tr>
                    <th>Empresa responsable</th>
                    <th>Períodicitat</th>
                    <th>Dades de contacte (Mail/telèfon)</th>
                  </tr>
                </thead>
                <tbody style="font-size: 12; text-align: center;">
                  <tr>
                    <td><input type="text" style="width: 300px;" name="emp_respon_prev_ext"
                        value="{{dades.emp_respon_prev_ext}}">
                    </td>
                    <td><input type="text" style="width: 300px;" name="periodicitat_prev_ext"
                        value="{{dades.periodicitat_prev_ext}}"></td>
                    <td><input type="text" style="width: 300px;" name="cont_prev_ext" value="{{dades.cont_prev_ext}}">
                    </td>
                  </tr>
                  <tr>
                </tbody>
              </table>

              <table class="table table-bordered" style="width: 40%;">
                <thead style="text-align: center; font-size: 12;">
                  <tr>
                    <th>Mateniment</th>
                    <th><input type="text" style="text-align: center; font-weight: bold;" name="mant_prev_ext"
                        value="{{dades.mant_prev_ext}}">
                    </th>
                  </tr>
                  <tr>
                    <th>Verificació</th>
                    <th><input type="text" style="text-align: center; font-weight: bold;" name="verif_prev_ext"
                        value="{{dades.verif_prev_ext}}"></th>
                  </tr>
                  <tr>
                    <th>Calibratge</th>
                    <th><input type="text" style="text-align: center; font-weight: bold;" name="calib_prev_ext"
                        value="{{dades.calib_prev_ext}}"></th>
                  </tr>
                </thead>
              </table>

              <p style="margin-bottom: 10px; font-weight: bold; text-align: left; font-size: 15px;">DESCRIPCIÓ:
              </p>

              <p style="margin-bottom: 10px; text-align: left; font-size: 15px;">Marges d'acceptació:
                <input type="text" style="width: 300px;" name="marges_accept_prev_ext"
                  value="{{dades.marges_accept_prev_ext}}">
              </p>

              <br>

              <p style="margin-bottom: 10px; font-weight: bold; text-align: left; font-size: 15px;">DESCRIPCIÓ
                MANTENIMENT PREVENTIU INTERN:
              </p>

              <p style="margin-bottom: 10px; text-align: left; font-size: 15px; width: 300px;">Descripció:
                <input type="text" value="{{dades.desc_prev_int}}" name="desc_prev_int">
              </p>

              <p style="margin-bottom: 10px; text-align: left; font-size: 15px; width: 300px;">Periodicitat:
                <input type="text" value="{{dades.periodicitat_prev_int}}" name="periodicitat_prev_int">
              </p>

              <p style="margin-bottom: 10px; text-align: left; font-size: 15px;">Marges d'acceptació:
                <input type="text" value="{{dades.marges_accept_prev_int}}" name="marges_accept_prev_int">
              </p>

              <br>

              <p style="margin-bottom: 10px; font-weight: bold; text-align: left; font-size: 15px;">DESCRIPCIÓ
                Verificació
                Interna:
              </p>

              <p style="margin-bottom: 10px; text-align: left; font-size: 15px; width: 300px;">Descripció:
                <input type="text" value="{{dades.desc_verif_int}}" name="desc_verif_int">
              </p>

              <p style="margin-bottom: 10px; text-align: left; font-size: 15px; width: 300px;">Periodicitat:
                <input type="text" value="{{dades.periodicitat_verif_int}}" name="periodicitat_verif_int">
              </p>

              <p style="margin-bottom: 10px; text-align: left; font-size: 15px;">Marges d'acceptació:
                <input type="text" value="{{dades.marges_accept_verif_int}}" name="marges_accept_verif_int">
              </p>

              <br>

              <p style="margin-bottom: 10px; font-weight: bold; text-align: left; font-size: 15px;">DESCRIPCIÓ
                Calibratge
                intern:
              </p>

              <p style="margin-bottom: 10px; text-align: left; font-size: 15px; width: 300px;">Descripció:
                <input type="text" value="{{dades.calib_desc_int}}" name="calib_desc_int">
              </p>

              <p style="margin-bottom: 10px; text-align: left; font-size: 15px; width: 300px;">Periodicitat:
                <input type="text" value="{{dades.calib_periodicitat_int}}" name="calib_periodicitat_int">
              </p>

              <p style="margin-bottom: 10px; text-align: left; font-size: 15px;">Marges d'acceptació:
                <input type="text" value="{{dades.calib_marges_accept_int}}" name="calib_marges_accept_int">
              </p>

            </div>
          </div>
        </div>

      </div>
  </form>
  </div>

  <!-- Insertar fotos i afegir files a les taules -->
  <script>

    const input = document.getElementById('imagenInput');
    const imagenMostrada = document.getElementById('imagenMostrada');

    const input2 = document.getElementById('imagenInput2');
    const imagenMostrada2 = document.getElementById('imagenMostrada2');

    const input3 = document.getElementById('imagenInput3');
    const imagenMostrada3 = document.getElementById('imagenMostrada3');

    // Función para mostrar la imagen
    function mostrarImagen(input, imagenMostrada) {
      const file = input.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function () {
          const imageData = reader.result;
          // Mostrar la imagen en la tabla
          imagenMostrada.src = imageData;

          // Agregar código para guardar la imagen en el servidor
          const formData = new FormData();
          formData.append('imagen', file);

          fetch('/guardar_imagen', {
            method: 'POST',
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                console.log('Imagen guardada en el servidor:', data.message);
              } else {
                console.error('Error al guardar la imagen en el servidor');
              }
            })
            .catch((error) => {
              console.error('Error de red:', error);
            });
        };
        reader.readAsDataURL(file);
      } else {
        // Borrar la imagen si no se selecciona ninguna
        imagenMostrada.src = '';
      }
    }

    // Asignar evento onchange a cada campo de entrada de archivo
    input.addEventListener('change', () => mostrarImagen(input, imagenMostrada));
    input2.addEventListener('change', () => mostrarImagen(input2, imagenMostrada2));
    input3.addEventListener('change', () => mostrarImagen(input3, imagenMostrada3));

    // Cargar imagen almacenada (si existe) al cargar la página
    window.addEventListener('load', () => mostrarImagen(input, imagenMostrada));
    window.addEventListener('load', () => mostrarImagen(input2, imagenMostrada2));
    window.addEventListener('load', () => mostrarImagen(input3, imagenMostrada3));

  </script>

  <!-- Desplegables Condicions -->
  <script>
    var miVariable = "{{dades.condicions_equip}}";
    var select = document.getElementById("select_condicions");

    // Verificar si la variable está en el select
    var optionExists = false;
    for (var i = 0; i < select.options.length; i++) {
      if (select.options[i].value === miVariable) {
        optionExists = true;
        break;
      }
    }

    // Si la variable no está en el select, agrégala como nueva opción
    if (!optionExists) {
      var newOption = document.createElement("option");
      newOption.value = miVariable;
      newOption.text = miVariable;
      select.appendChild(newOption);
    }

    // Establecer la opción seleccionada en la variable (si existe)
    select.value = miVariable;
  </script>

  <!-- Desplegable Tipus -->
  <script>
    var miVariable = "{{dades.tipus}}";
    var select = document.getElementById("select_tipus");

    // Verificar si la variable está en el select
    var optionExists = false;
    for (var i = 0; i < select.options.length; i++) {
      if (select.options[i].value === miVariable) {
        optionExists = true;
        break;
      }
    }

    // Si la variable no está en el select, agrégala como nueva opción
    if (!optionExists) {
      var newOption = document.createElement("option");
      newOption.value = miVariable;
      newOption.text = miVariable;
      select.appendChild(newOption);
    }

    // Establecer la opción seleccionada en la variable (si existe)
    select.value = miVariable;
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
{% endblock content %}