{% extends "base.html" %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitxes Tecniques - Equipss de Mesura</title>
</head>

<body>
    <!-- Mensajes Flash -->
    <div class="container mt-3">
        <div class="row justify-content-center">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="container" style="width: 50%; margin: 0 auto; margin-bottom: 20px;">
        <div class="row">
            <!-- Título -->
            <div class="col-12">
                <h1 class="text-center" style="margin-top: 30px; color: #fcc664; font-weight: bold;">
                    EQUIPS DE MESURA
                </h1>
                <hr>
            </div>

            <!-- Seleccionar equipo -->
            <div class="col-12">
                <div class="card card-body border-1 m-1" style="background-color:#EDEDED; text-align: center;">
                    <div class="card-body text-center">
                        <h6 class="card-title font-weight-bold">Selecciona un equip</h6>
                        <form action="/fitxa_tecnica" method="post">
                            <input class="custom-select" style="width: 50%; margin-bottom: 5px;" type="text"
                                id="searchInput" placeholder="Buscar per descripció"><br>
                            <select class="custom-select" id="opcions" name="opcions" style="width: 50%;">
                                {% for equip in equips %}
                                <option value="{{ equip.codi_aux }}">{{ equip.descripcio }} - {{equip.codi_aux}} -
                                    {{equip.codi_cgc}}
                                </option>
                                {% endfor %}
                            </select>
                            <br>
                            <input style="margin-top: 20px; margin-right: 40px;" type="submit" class="btn btn-success"
                                value="Enviar">
                            <a style="margin-top: 20px;" class="btn btn-primary" href="/form_afegir_equip">Afegir
                                equip</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Función para filtrar opciones en tiempo real
        document.getElementById("searchInput").addEventListener("input", function () {
            var input, filter, dropdown, options, option, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            dropdown = document.getElementById("opcions");
            options = dropdown.getElementsByTagName("option");
            var found = false; // Para verificar si se encontraron coincidencias

            for (i = 0; i < options.length; i++) {
                option = options[i];
                txtValue = option.textContent || option.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    option.style.display = "";
                    found = true; // Hay al menos una coincidencia
                } else {
                    option.style.display = "none";
                }
            }

            // Cambiar la primera opción cuando se escriba
            if (found) {
                var firstOption = dropdown.querySelector("option:not([style='display: none;'])");
                if (firstOption) {
                    dropdown.value = firstOption.value;
                }
            } else {
                // Si no se encontraron coincidencias, mostrar "No disponible"
                dropdown.value = "No Disponible";
            }
        });
    </script>
</body>

</html>
{% endblock content %}