{% extends "base.html" %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitxes Tecniques - Equips de Mesura</title>
</head>

<body>
    <!-- Mensajes Flash -->
    <div class="container mt-3">
        <div class="row justify-content-center">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="container" style="width: 90%; margin: 0 auto;">

        <div class="row">
            <!-- Título -->
            <div class="col-12 card card-body border-0 m-1" style="background-color:#EDEDED;">
                <h1 style="font-weight: bold; color: rgb(26, 46, 138)">
                    EQUIPS DE MESURA
                </h1>
            </div>

            <!-- Taula -->
            <div class="table-responsive" style="width: 100%; margin-top: 30px;">
                <table class="table table-bordered table-striped" style="text-align: center;" id="example">
                    <!-- <thead style="background-image: linear-gradient(15deg, #357ca5 0%, #60cec1 100%);"> -->
                    <thead style="background-image: linear-gradient(15deg, #181818 0%, #363636 100%); color: white;">
                        <tr>
                            <th>Codi Aux</th>
                            <th style="width: 20%;">Codi CGC</th>
                            <th>Serial Number</th>
                            <th>Descripció</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equip in equips %}
                        <tr>
                            <form action="/fitxa_tecnica" method="post">

                                <input type="hidden" name="codi_aux" value="{{equip.codi_aux}}">
                                <td>{{equip.codi_aux}}</td>
                                <td>{{equip.codi_cgc}}</td>
                                <td>{{equip.serial_number}}</td>
                                <td>{{equip.descripcio}}</td>
                                <td>
                                    <button type="submit" style="background: none; border: none;">
                                        <i class="fa-solid fa-file-pdf" style="color: #2ec242;"></i>
                                    </button>
                                </td>
                            </form>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            $('#example thead tr').clone(true).appendTo('#example thead');
            $('#example thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                if (title !== '') {
                    $(this).html('<input type="text" placeholder="Search ' + title + '"/>');
                    $('input', this).on('keyup change', function () {

                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                }
            });

            var table = $('#example').DataTable({
                order: [[0, 'asc']],
                orderCellsTop: true,
                fixedHeader: true
            });
        });
    </script>
</body>

</html>
{% endblock content %}