{% extends "base.html" %}

{% block content %}

<head>
  <style>
    /* Estilos para el popup */
    .popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      text-align: center;
    }

    .popup-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    /* Estilo para el botón de cerrar */
    .popup-close {
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
      color: red;
      /* Cambiamos el color a rojo */
      font-size: 30px;
      margin-right: 10px;
    }

    /* Estilo para el campo de búsqueda */
    .image-search {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
    }

    /* Estilos para la imagen cargada */
    #uploadedImage {
      max-width: 100%;
      max-height: 300px;
      /* Limitamos la altura para que quepa en el popup */
      margin-top: 10px;
      /* Añadimos un espacio entre el campo de búsqueda y la imagen */
    }

    /* Estilo para el mensaje "Imagen cargada" */
    #imageUploadedText {
      display: none;
      color: green;
      /* Cambiamos el color a verde */
      margin-top: 10px;
      /* Añadimos un espacio entre la imagen y el mensaje */
    }
  </style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <!-- Flash -->
  <div class="d-flex justify-content-center">
    <div class="row mt-1">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category,message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show ml-3" role="alert">
        <span>{{ message }}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <br>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>


  <div class="flex" style="width:70%;margin:0 auto; margin-bottom: 20px;">

    <div class="row">

      <!-- Titol -->
      <div class="col-12">
        <h1 class="card-title" style="margin-top:30px;color:rgb(252, 198, 100); text-align: center;">
          <div style="display:inline-block;"><b>FITXA TÈCNICA EQUIP DE MESURA</b></div>
          <div style="display:inline-block; color:#636261">CODI AUX-DM085</div>
        </h1>
      </div>

      <hr>

      <!-- Descripció -->
      <div class="col-12">
        <div class="card card-body border-1 m-1" style="background-color:#EDEDED; text-align: center;">
          <div class="col-12">
            <p style="margin-bottom: 5px; font-weight: bold;">Descripció</p>
            <p style="margin-bottom: 0;">Congelador petit verd</p>
          </div>
        </div>
      </div>

      <br>

      <!-- Caracteristiques generals -->
      <div class="col-12">
        <div class="card card-body border-1 m-1" style="background-color:#EDEDED; text-align: center;">
          <div class="col-12">
            <p style="margin-bottom: 10px; font-weight: bold;">Caracteristiques generals</p>
            <table class="table table-bordered">
              <thead style="text-align: center; font-size: 12;">
                <tr style="background-color: rgb(174, 204, 231);">
                  <th>REFERÈNCIA FABRICANT</th>
                  <th>SERIAL NUMBER</th>
                  <th>MODEL</th>
                  <th>PROVEÏDOR</th>
                  <th>Servei Tècnic</th>
                  <th>Telèfon</th>
                  <th><i class="fa-solid fa-image"></i></th>
                </tr>
              </thead>
              <tbody style="font-size: 12;">
                <tr>
                  <td>Prova</td>
                  <td>REFXXXXXXXXX</td>
                  <td>123456789</td>
                  <td>Prova</td>
                  <td>Prova</td>
                  <td>666666666</td>
                  <td class="popup-button" id="showPopup1" style="text-align: center; text-decoration: underline blue;">
                    IMG</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Informació compra -->
      <div class="col-12">
        <div class="card card-body border-1 m-1" style="background-color:#EDEDED; text-align: center;">
          <div class="col-12">
            <p style="margin-bottom: 10px; font-weight: bold;">Informació compra</p>
            <table class="table table-bordered">
              <thead style="text-align: center; font-size: 12;">
                <tr style="background-color: rgb(174, 204, 231);">
                  <th>DATA ALTA</th>
                  <th>Condicions</th>
                  <th>Data Baixa</th>
                  <th>SITUACIÓ CONTRACTUAL</th>
                  <th>PREU</th>
                  <th>TIPUS D'EQUIP</th>
                  <th><i class="fa-solid fa-image"></i></th>
                </tr>
              </thead>
              <tbody style="font-size: 12;">
                <tr>
                  <td>23/12/23</td>
                  <td>Excel·lent</td>
                  <td>24/12/23</td>
                  <td>Prova</td>
                  <td>99,99 €</td>
                  <td>Prova</td>
                  <td class="popup-button" id="showPopup2" style="text-align: center; text-decoration: underline blue;">
                    IMG</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Caracteristiques fisiques -->
      <div class="col-12">
        <div class="card card-body border-1 m-1" style="background-color:#EDEDED; text-align: center;">
          <div class="col-12">
            <p style="margin-bottom: 10px; font-weight: bold;">Característiques físiques</p>
            <table class="table table-bordered">
              <thead style="text-align: center; font-size: 12;">
                <tr style="background-color: rgb(174, 204, 231);">
                  <th>Amplada (cm)</th>
                  <th>Alçada (cm)</th>
                  <th>Profunditat (cm)</th>
                  <th>Pes (Kg)</th>
                  <th>Volum (L)</th>
                  <th>Condicions ambientals</th>
                  <th>Humitat</th>
                  <th>Presa d'aigua desionitzada</th>
                  <th><i class="fa-solid fa-image"></i></th>
                </tr>
              </thead>
              <tbody style="font-size: 12;">
                <tr>
                  <td>23</td>
                  <td>23</td>
                  <td>23</td>
                  <td>23</td>
                  <td>23</td>
                  <td>Prova</td>
                  <td>Prova</td>
                  <td>Prova</td>
                  <td class="popup-button" id="showPopup3" style="text-align: center; text-decoration: underline blue;">
                    IMG</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Connexions periferics -->
      <div class="col-12">
        <div class="card card-body border-1 m-1" style="background-color:#EDEDED; text-align: center;">
          <div class="col-12">
            <p style="margin-bottom: 10px; font-weight: bold;">Connexions periferics</p>

            <table class="table table-bordered">
              <thead style="text-align: center; font-size: 12;">

                <tr>
                  <th>SI/NO</th>
                  <th>MARCA</th>
                  <th>MODEL</th>
                  <th>Número de serie</th>
                  <th>Código de inventario</th>
                </tr>
                <tr>
                  <td>Pantalla</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>SAI</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Lector código de barras</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Impresora</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Tensión: 220V/50Hz <br> Potencia: 220W</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Software</td>
                  <td></td>
                  <td>Versió</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Software</td>
                  <td></td>
                  <td>Versió</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Software</td>
                  <td></td>
                  <td>Versió</td>
                  <td></td>
                  <td></td>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>

      <!-- Personal responsable -->
      <div class="col-12">
        <div class="card card-body border-1 m-1" style="background-color:#EDEDED; text-align: center;">
          <div class="col-12">
            <p style="margin-bottom: 10px; font-weight: bold;">Personal responsable</p>
            <table class="table table-bordered">
              <thead style="text-align: center; font-size: 12;">
                <tr>
                  <th style="width: 50%;">PERSONAL TECNIC</th>
                  <th style="width: 50%;">PERSONAL FACULTATIU</th>
                </tr>
              </thead>
              <tbody style="font-size: 12;">
                <tr>
                  <td>PERSONAL TECNIC UDMMP</td>
                  <td>Facultatius responsables de l'àrea UDMMP</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Fungible -->
      <div class="col-12">
        <div class="card card-body border-1 m-1" style="background-color:#EDEDED; text-align: center;">
          <div class="col-12">
            <p style="margin-bottom: 10px; font-weight: bold;">Fungible</p>
            <table class="table table-bordered">
              <thead style="text-align: center; font-size: 12;">
                <tr>
                  <th style="width: 50%;">Referencia</th>
                  <th style="width: 50%;">Descripcio</th>
                </tr>
              </thead>
              <tbody style="font-size: 12;">
                <tr>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Pla de manteniment -->
      <div class="col-12">
        <div class="card card-body border-1 m-1" style="background-color:#EDEDED; text-align: center;">
          <div class="col-12">
            <p style="margin-bottom: 10px; font-weight: bold;">Pla de manteniment</p>

            <table class="table table-bordered">
              <thead style="text-align: center; font-size: 12;">
                <tr>
                  <th style="width: 100%; background-color: rgb(174, 204, 231);">DOCUMENTS ASSAIGS D’ACCEPTACIÓ</th>
                </tr>
              </thead>
              <tbody style="font-size: 12;">
                <tr>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                </tr>
              </tbody>
            </table>

            <br>

            <table class="table table-bordered" style="width: 40%; margin: 0 auto;">
              <thead style="text-align: center; font-size: 12;">
                <tr>
                  <th style="width: 80%;"></th>
                  <th style="width: 20%;">SI / NO</th>
                </tr>
              </thead>
              <tbody style="font-size: 12;">
                <tr>
                  <td>Contracte de Manteniment</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Manteniment Preventiu Extern</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Manteniment preventiu Intern</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Verificació Interna</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Verificació Externa</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Calibració Externa</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Calibració interna</td>
                  <td></td>
                </tr>
              </tbody>
            </table>

            <br>

            <p style="margin-bottom: 10px; font-weight: bold; text-align: left; font-size: 15px;">DESCRIPCIÓ CONTRACTE
              DE MANTENIMENT:
            </p>

            <p style="margin-bottom: 10px; text-align: left; font-size: 15px;">Nom del contracte:
            </p>

            <table class="table table-bordered">
              <thead style="text-align: center; font-size: 12;">
                <tr>
                  <th>Empresa responsable</th>
                  <th>Període de cobertura </th>
                  <th>Dades de contacte (Mail/telèfon)</th>
                </tr>
              </thead>
              <tbody style="font-size: 12;">
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>



          </div>
        </div>
      </div>

      <!-- Popup 1 para la imagen -->
      <div class="popup" id="imagePopup">
        <div class="popup-content">
          <span class="popup-close" id="closePopup">&times;</span>
          <input type="file" id="imageInput">
          <img src="" alt="Imagen Cargada" id="uploadedImage" style="display: none;">
        </div>
      </div>

      <!-- Popup 2 para la imagen -->
      <div class="popup" id="imagePopup2">
        <div class="popup-content">
          <span class="popup-close" id="closePopup2">&times;</span>
          <input type="file" id="imageInput2">
          <img src="" alt="Imagen Cargada" id="uploadedImage2" style="display: none;">
        </div>
      </div>

      <!-- Popup 3 para la imagen -->
      <div class="popup" id="imagePopup3">
        <div class="popup-content">
          <span class="popup-close" id="closePopup3">&times;</span>
          <input type="file" id="imageInput3">
          <img src="" alt="Imagen Cargada" id="uploadedImage3" style="display: none;">
        </div>
      </div>

    </div>
  </div>

  <script>

    const showPopupButton = document.getElementById('showPopup1');
    const imagePopup = document.getElementById('imagePopup');
    const closePopupButton = document.getElementById('closePopup');
    const imageInput = document.getElementById('imageInput');
    const uploadedImage = document.getElementById('uploadedImage');
    const imageUploadedText = document.getElementById('imageUploadedText');

    showPopupButton.addEventListener('click', () => {
      imagePopup.style.display = 'block';
    });

    closePopupButton.addEventListener('click', () => {
      imagePopup.style.display = 'none';
    });

    imageInput.addEventListener('change', () => {
      const file = imageInput.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
          uploadedImage.src = e.target.result;
          uploadedImage.style.display = 'block';
          imageUploadedText.style.display = 'block';
          imageInput.style.display = 'none';
        };
        reader.readAsDataURL(file);
      }
    });

    // Almacenar la imagen en el navegador localmente
    window.addEventListener('beforeunload', () => {
      const imgSrc = uploadedImage.src;
      localStorage.setItem('uploadedImage', imgSrc);
    });

    // Recuperar la imagen almacenada localmente al cargar la página
    window.addEventListener('load', () => {
      const imgSrc = localStorage.getItem('uploadedImage');
      if (imgSrc) {
        uploadedImage.src = imgSrc;
        uploadedImage.style.display = 'block';
        imageUploadedText.style.display = 'block';
        imageInput.style.display = 'none';
      }
    });

    const showPopupButton2 = document.getElementById('showPopup2');
    const imagePopup2 = document.getElementById('imagePopup2');
    const closePopupButton2 = document.getElementById('closePopup2');
    const imageInput2 = document.getElementById('imageInput2');
    const uploadedImage2 = document.getElementById('uploadedImage2');
    const imageUploadedText2 = document.getElementById('imageUploadedText2');

    showPopupButton2.addEventListener('click', () => {
      imagePopup2.style.display = 'block';
    });

    closePopupButton2.addEventListener('click', () => {
      imagePopup2.style.display = 'none';
    });

    imageInput2.addEventListener('change', () => {
      const file = imageInput2.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
          uploadedImage2.src = e.target.result;
          uploadedImage2.style.display = 'block';
          imageUploadedText2.style.display = 'block';
          imageInput2.style.display = 'none';
        };
        reader.readAsDataURL(file);
      }
    });

    // Almacenar la imagen en el navegador localmente
    window.addEventListener('beforeunload', () => {
      const imgSrc = uploadedImage2.src;
      localStorage.setItem('uploadedImage2', imgSrc);
    });

    // Recuperar la imagen almacenada localmente al cargar la página
    window.addEventListener('load', () => {
      const imgSrc = localStorage.getItem('uploadedImage2');
      if (imgSrc) {
        uploadedImage2.src = imgSrc;
        uploadedImage2.style.display = 'block';
        imageUploadedText2.style.display = 'block';
        imageInput2.style.display = 'none';
      }
    });


    const showPopupButton3 = document.getElementById('showPopup3');
    const imagePopup3 = document.getElementById('imagePopup3');
    const closePopupButton3 = document.getElementById('closePopup3');
    const imageInput3 = document.getElementById('imageInput3');
    const uploadedImage3 = document.getElementById('uploadedImage3');
    const imageUploadedText3 = document.getElementById('imageUploadedText3');

    showPopupButton3.addEventListener('click', () => {
      imagePopup3.style.display = 'block';
    });

    closePopupButton3.addEventListener('click', () => {
      imagePopup3.style.display = 'none';
    });

    imageInput3.addEventListener('change', () => {
      const file = imageInput3.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
          uploadedImage3.src = e.target.result;
          uploadedImage3.style.display = 'block';
          imageUploadedText3.style.display = 'block';
          imageInput3.style.display = 'none';
        };
        reader.readAsDataURL(file);
      }
    });

    // Almacenar la imagen en el navegador localmente
    window.addEventListener('beforeunload', () => {
      const imgSrc = uploadedImage3.src;
      localStorage.setItem('uploadedImage3', imgSrc);
    });

    // Recuperar la imagen almacenada localmente al cargar la página
    window.addEventListener('load', () => {
      const imgSrc = localStorage.getItem('uploadedImage3');
      if (imgSrc) {
        uploadedImage3.src = imgSrc;
        uploadedImage3.style.display = 'block';
        imageUploadedText3.style.display = 'block';
        imageInput3.style.display = 'none';
      }
    });

  </script>

</body>
{% endblock content %}